body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f5f5f5;
}

h1 {
  background: #2a72d4;
  color: white;
  padding: 12px;
  margin: 0 0 10px;
}

#upload-section {
  margin: 10px;
}

#map {
  width: 95%;
  height: 80vh; /* GANZ WICHTIG */
  margin: 10px auto;
  border: 2px solid #ccc;
  border-radius: 8px;
}

input, button {
  font-size: 16px;
  padding: 6px;
  margin: 5px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

button {
  background-color: #2a72d4;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #1e5cb8;
}
